{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Что это?</h2>

    <p class="lead">
        Это простая система, с помощью которой выпускники 57-й школы помогут другу другу получить код вида
    </p>
    <blockquote>
        lyc-1817g-pusha-834012543123
    </blockquote>
    <p class="lead">
        Его можно указывать при голосованиях, чтобы ваш голос не пришлось перепроверять.
    </p>
</div>

{% if code %}
  <h2>{{ alumni_name }}</h2>
  <p>Ваш код: {{ code }}</p>
{% endif %}

{% if not code %}

<h3>Если у вас уже есть код</h3>
<form role="form" action="" method="post" class="form-inline">
    {% csrf_token %}
    <input type="text" class="form-control" name="code" value="" placeholder="Ваш код"/>
    <button type="submit" class="btn btn-default">Проверить</button>
</form>
{% if not_found %}
    <p class="text-danger">Введённый код не найден</p>
{% endif %}

<h3>Где взять код?</h3>
<ul>
    <li>попросите у друзей-выпускников прислать вам приглашение личным секретным сообщением</li>
    <li>если у вас нет друзей или у друзей нет кода, не грустите, подождите и попробуйте еще раз</li>
    <li>если ничего не получилось, напишите побольше о себе на auth.alumni57@gmail.com</li>
</ul>
{% endif %}


{% if code %}
<h3>Пригласите знакомых</h3>

<form action="/new-invitation/{{ code }}" method="post" target="_blank" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="invitee" value="" class="invitee-id"/>
    <div class="form-group">
        {{ invite_form }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Создать приглашение" />
    </div>
</form>
{% endif %}

{% if invites %}
<h3>Уже приглашённые</h3>
<ul>
{% for invite in invites %}
    <li><a href="/invite/{{ invite.code_to.code }}" target="_blank">{{ invite.code_to.alumni }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
