{% extends "app/layout.html" %}

{% block content %}

<div class="hidden" id="what-is-this">
  <a class="btn btn-default btn-lg" role="button">Что это?</a>
</div>

<div class="jumbotron" id="about">
  <h2>Что это?</h2>

  <p class="lead">
    Это простая система, с помощью которой выпускники 57-й школы помогут другу другу получить код вида
    <strong>lyc-1817g-pusha-834012543123</strong>. Его можно указать, чтобы вас узнали,
    при голосовании, подписке на закрытые группы и пр.
  </p>

  <a class="btn btn-primary btn-lg" role="button">Все понятно</a>

</div>

{% if code %}
<h2>Ваш код</h2>
<blockquote>
  <b>{{ code }}</b><br />
  {{ alumni_name }}
  {% if invited_by %}
  <br />(пригласил {{ invited_by }})
  {% endif %}
</blockquote>

<p>
  <strong>Важно!</strong>
  Если вы не он, то вы не можете пользоваться этой страницей, приглашать знакомых или
  голосовать этим кодом за другого. Иначе после небольшого разбирательства нам
  придется сказать ай-ай-ай и все, что вы сделаете, аннулировать.
</p>

<form role="form" action="/new-code" method="post" target="_blank" class="form-inline">
  {% csrf_token %}
  <input type="hidden" name="invitee" value="{{ alumnus_id }}" class="code-from" />
  <button type="submit" class="btn btn-primary">Создать собственный код</button>
</form>

<p>* <i>стоит, если вы готовы его записать и не забыть, а также не хотите, чтобы к вам подглядывали</i></p>

{% endif %}

{% if not code %}

<h3>У меня есть код</h3>
<form role="form" action="" method="post" class="form-inline">
  {% csrf_token %}
  <input type="text" class="form-control" name="code" value="" placeholder="Ваш код" />
  <button type="submit" class="btn btn-primary">Проверить</button>
</form>
{% if not_found %}
<p class="text-danger">Введённый код не найден</p>
{% endif %}

<h3>Где взять код?</h3>
<ul>
  <li>попросите у друзей-выпускников прислать вам приглашение личным секретным сообщением</li>
  <li>если у вас нет друзей или у друзей нет кода, не грустите, подождите и попробуйте еще раз</li>
  <li>если ничего не получилось, напишите побольше о себе на <a href="mailto:auth.alumni57@gmail.com">auth.alumni57@gmail.com</a></li>
</ul>
{% endif %}


{% if code %}
<h3>Ваши другие приглашения</h3>

{{ request.session.codes }}

<ul>
  {% for invite in other_invites %}
      <li>{{ invite.safe_form }} {% if invite.at %}(пригласил {{ invite.at }} - {{ invite.by }}) {% endif %}{% if invite.activate is not None %}(<a href="/switch/{{ invite.activate }}">переключиться</a>) {% endif %}(отключить)</li>
  {% endfor %}
</ul>

<p>* <i>отключите код, чтобы с его помощью никто не мог голосовать и приглашать других от вашего имени</i></p>

<p>Введите ваши другие коды, чтобы было точно понятно, что вы — это вы:</p>

<form action="/invite/new" method="post" target="_blank" class="form-inline">
  {% csrf_token %}
  <input type="hidden" name="invitee" value="" class="invitee-id" />
  <div class="form-group">
      <input type="text" class="form-control" name="other_code" placeholder="Другой код" size="100"/>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Ввести" />
  </div>
</form>

<h3>Пригласите выпускников</h3>

<p>Помогите знакомым выпускникам поскорее получить код!</p>

<form action="/invite/new" method="post" target="_blank" class="form-inline">
  {% csrf_token %}
  <input type="hidden" name="invitee" value="" class="invitee-id" />
  <div class="form-group">
    {{ invite_form }}
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Пригласить" />
  </div>
</form>

<p><i>(если выпускник не нашелся в списке, напишите подробности на <a href="mailto:auth.alumni57@gmail.com">auth.alumni57@gmail.com</a>, разберемся!)</i></p>
{% endif %}

{% if invites %}
<h3>Я пригласил</h3>
<ul>
  {% for invite in invites %}
  <li>{{ invite.code_to.alumni }} ({{ invite.code_to.safe_form }})</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
