{% extends "app/layout.html" %}

{% block content %}

<div class="hidden" id="what-is-this">
  <a class="btn btn-default btn-lg" role="button">Что это?</a>
</div>

<div class="jumbotron" id="about">
  <h2>Что это?</h2>

  <p class="lead">
    Это простая система, с помощью которой выпускники 57-й школы помогут другу другу получить код вида
    <strong>lyc-1817g-pusha-8340125431207923</strong>. Ваш код можно указывать, чтобы вас узнавали
    при голосованиях, подписании петиций, подписке на закрытые группы и пр.
  </p>

  <p class="lead">
    Если у вас уже есть код, помогите знакомым выпускникам, раздайте им коды через эту страницу. Не переживайте,
    если пока эти коды негде использовать, они обязательно пригодятся.
  </p>

  <a class="btn btn-primary btn-lg" role="button">Закрыть</a>

</div>

{% if code %}
<h2>Ваш код</h2>
<blockquote>
  <h3>
    {{ code }}<br />
    {{ alumni_name }}
  </h3>
  {% if invited_by %}
  <p><em>пригласил {{ invited_by }}</em></p>
  {% endif %}
</blockquote>

<p>
  <a href="#" class="text-primary" id="this-is-important" data-html="true"
     data-content="<p>Если код выписан не для вас лично, то вы не можете пользоваться этой страницей, а также этим кодом в любых других местах.</p><p>Иначе после небольшого разбирательства нам придется сказать ай-ай-ай и все, что вы сделаете, аннулировать.</p>"
     title="Важно!">
    <strong>Это не вы?</strong>
  </a>
</p>


<form role="form" action="/new-code" method="post" target="_blank" class="form-inline">
  {% csrf_token %}
  <input type="hidden" name="invitee" value="{{ alumnus_id }}" class="code-from" />
  <button type="submit" class="btn btn-primary" data-html="true"
          id="create-own-code"
          data-content="<p>Стоит, чтобы впредь пользоваться кодом, который никто больше не знает.</p><p>Новый код нужно обязательно записать. После отключите старые, если они кому-то еще известны.</p>"
          title="Создать себе новый код">
    Создать себе новый код
  </button>
</form>

{% endif %}

{% if not code %}

<h3>У меня есть код</h3>
<form role="form" action="/enter" method="post" class="form-inline">
  {% csrf_token %}
  <input type="text" class="form-control code-input" name="code" value="" autocomplete="off" placeholder="Ваш код" />
  <button type="submit" class="btn btn-primary">Проверить</button>
</form>
{% if not_found %}
<p class="text-danger">Введённый код не найден</p>
{% endif %}
{% if code_disabled %}
<p class="text-danger">Введённый код отключён</p>
{% endif %}

<h3>Где взять код?</h3>
<ul>
  <li>попросите у друзей-выпускников прислать вам приглашение личным секретным сообщением</li>
  <li>если у вас нет друзей или у друзей нет кода, не грустите, подождите и попробуйте еще раз</li>
  <li>если ничего не получилось, напишите побольше о себе на <a href="mailto:alumni57.ru@gmail.com">alumni57.ru@gmail.com</a></li>
</ul>
{% endif %}


{% if code %}
<h3>Вас пригласили</h3>

<ul>
  {% for invite in other_invites %}
  <li>
    {% spaceless %}
    {% if not invite.is_enabled %}<s>
      {% endif %}
      {% if invite.activate is not None %}<a href="/switch/{{ invite.activate }}">
        {% endif %}
        <span>{{ invite.safe_form }}</span>
        {% if invite.activate is not None %}
      </a>{% endif %}
      {% if not invite.is_enabled %}
    </s>{% endif %}
    {% endspaceless %}
    {% if invite.by and invite.by.alumnus_id == alumnus_id %}
    (выписан себе {{ invite.at }})
    {% else %}
    {% if invite.at %}(пригласил {{ invite.at }} - {{ invite.by }}) {% endif %}
    {% endif %}
    {% if invite.is_enabled %}
    {% if invite.activate is not None %}
    (<a href="/disable/{{ invite.activate }}" class="disable-code-link"
        data-title="Отключить лишний код"
        data-html="true"
        data-content="<p>Отключите лишние коды, чтобы ими никто другой не смог воспользоваться в будущем. Перед этим убедитесь, что текущий надежно записан.</p> <p>Отключение кода не влияет на то, чтобы было сделано с его помощью.</p>">отключить</a>)
    {% endif %}
    {% if invite.activate is None %}
    (<a href="#" class="input-code-link"
        data-title="Ввести другой код"
        data-content="Введите коды из других полученных вами личных приглашений, чтобы ими управлять, и чтобы было точно понятно, что вы - это вы">ввести</a>)
    {% endif %}
    {% endif %}
    {% if not invite.is_enabled %}(<i>отключён</i>){% endif %}
  </li>
  {% endfor %}
</ul>

<form action="/enter" method="post" class="form-inline" id="input-code-form">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="code" autocomplete="off" placeholder="Другой код" size="100" id="input-code-box" />
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Ввести" />
  </div>
</form>

{% if not_found %}
<p class="text-danger">Введённый код не найден</p>
{% endif %}

{% if code_disabled %}
<p class="text-danger">Введённый код отключён</p>
{% endif %}

<h3>Пригласите выпускников</h3>

<p>Помогите знакомым выпускникам поскорее получить код!</p>

<form action="/invite/new" method="post" target="_blank" class="form-inline">
  {% csrf_token %}
  <input type="hidden" name="invitee" value="" class="invitee-id" />
  <div class="form-group">
    {{ invite_form }}
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Пригласить" />
  </div>
</form>

<p><i>(если выпускник не нашелся в списке, напишите подробности на <a href="mailto:alumni57.ru@gmail.com">alumni57.ru@gmail.com</a>, разберемся!)</i></p>
{% endif %}

{% if invites %}
<h3>Вы пригласили</h3>
<ul>
  {% for invite in invites %}
  <li>{{ invite.code_to.alumni }} ({{ invite.add_time|date:"d.m.y"}}, код: {{ invite.code_to.safe_form }})</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
