{% extends "app/layout.html" %}

{% block content %}

<h2>Отправить приглашение</h2>

<p class="lead">
Вы, <strong>{{ inviter.full_name }}</strong>, хотите пригласить вашего знакомого выпускника
<strong>{{ invitee }}</strong> получить код для участия в голосовании.
</p>

<p><strong><em>Важно!</em></strong></p>
<ul>
    <li>нельзя приглашать от имени другого человека</li>
    <li>вы можете воспользоваться любым каналом связи: почтой, sms, сообщениями Facebook или ВКонтакте, продиктовать по телефону</li>
    <li>убедитесь, что код получит именно тот самый выпускник, которого вы решили пригласить. В этом ваша ответственность</li>
    <li>не пользуйтесь открытыми каналами связи для передачи кодов и ссылок, не публикуйте их в соцсетях</li>
    <li>если вы будете невнимательны или сыграете не по правилам, увы, нам придется все это аннулировать и отключить</li>
</ul>

Выберете сообщение:<br/>
<textarea style="width:600px; max-width:600px; height:70px;" class="form-control" onclick="this.focus();this.select()">
http://auth.alumni57.ru/{{ code.code }} - здесь твой код для голосования выпускников 57-й</textarea>
<hr/>
<textarea style="width:600px; max-width: 600px; height:150px;" class="form-control" onclick="this.focus();this.select()">
Привет!
Твой код для голосований выпускников 57-й
{{ code.code }}
Подробности есть на сайте
http://auth.alumni57.ru</textarea>

{% endblock %}
