{% extends "app/layout.html" %}

{% block content %}

<h2>Приглашение выпускника</h2>

<p class="lead">
    Меня зовут<br />
    <strong>{{ inviter.full_name }}</strong>
</p>

<p class="lead">
    Я хочу пригласить моего знакомого выпускника<br/>
    <strong>{{ invitee }}</strong>
</p>


<p class="lead">
    получить вот этот код, который поможет ему участвовать в голосованиях<br/>
    <strong>{{ code.code }}</strong>
</p>

<h3>Пошлите сообщение с кодом</h3>

<p><em>* самостоятельно, по любому закрытому каналу связи. Например,</em></p>

<textarea style="width:600px; max-width:600px; height:70px;" class="form-control" onclick="this.focus();this.select()"
>{{ code.code }} - твой код для голосований выпускников 57-й - на http://auth.alumni57.ru</textarea>
<br/>
<textarea style="width:600px; max-width: 600px;" rows="10" class="form-control" onclick="this.focus();this.select()"
>Привет!

Твой код для голосования в Совет Выпускников 57-й
http://www.alumni57.info/vybory-2017

    {{ code.code }}
    ({{ code.alumni }})

Подробности про коды - http://auth.alumni57.ru

{{ inviter.full_name }}</textarea>

<h3>Важно!</h3>
<ul>
    <li>нельзя приглашать от имени другого человека</li>
    <li>вы можете воспользоваться любым каналом связи: почтой, sms, сообщениями Facebook или ВКонтакте, продиктовать по телефону</li>
    <li>убедитесь, что код получит именно тот самый выпускник, которого вы решили пригласить. В этом ваша ответственность</li>
    <li>не пользуйтесь открытыми каналами связи для передачи кодов и ссылок, не публикуйте их в соцсетях</li>
    <li>если вы закроете эту страницу, этот код целиком мы больше не покажем. Если понадобится, придется делать новый</li>
    <li>если вы будете невнимательны или сыграете не по правилам, увы, нам придется все это аннулировать и отключить</li>
</ul>

{% endblock %}
