{% extends "app/layout.html" %}

{% block content %}

<h2>Коды выпускников Q&A</h2>

<p>Мы в пилотном режиме запускаем две программы «коды выпускников» (<a href="http://auth.alumni57.ru">auth.alumni57.ru</a>) и «директория выпускников» (<a href="http://dir.alumni57.ru">dir.alumni57.ru</a>) 57-й. Что это, и как это работает, объясним в формате вопросов и ответов.</p>

<p class="question"><b>Q. Что такое "коды выпускников"?</b></p>
<p><b>A.</b> Это система, которая позволяет раздать выпускникам персональные секретные коды вида 57-1990v-romf-1234567812345678. Эти коды можно будет использовать вместо логинов-паролей в разных онлайновых местах, где нужно будет узнать выпускника или понять, что предъявитель — выпускник 57-й. Например, голосование в совет, референдум по уставу, подписание петиции, редактирование директории выпускников, запросы на подписку в закрытую группу и пр.</p> 

<p class="question"><b>Q. Как я узнаю свой код выпускника?</b></p>
<p><b>A.</b> Скорее всего, его создаст для вас в приложении (<a href="http://auth.alumni57.ru">auth.alumni57.ru</a>) другой ваш знакомый выпускник, у которого уже есть свой код, и вышлет вам ваш по почте или через мессенджер. Вы можете его записать или же через год найти в истории вашей переписки.</p>

<p class="question"><b>Q. Почему не логин/пароль?</b></p>
<p><b>A.</b> Логины / пароли теряются, процедура регистрации, а потом восстановления паролей — мучительна, из-за этого можно потерять больше половины тех, кто мог бы этим воспользоваться. Если вам пришлют код в виде сообщения, его можно будет потом найти. </p>

<p class="question"><b>Q. Зачем выдавать коды друг другу?</b></p>
<p><b>A.</b> Нам важнее всего убедиться, что кодом пользуется конкретный выпускник 57-й. Саморегистрация на сайте не позволяет решить эту задачу. Мы могли бы учредить комиссию по выдаче, но мы не знаем всех в лицо, и у нас мало времени. Вместо этого воспользуемся существующими социальными связями, вы же знаете друг друга.</p>

<p class="question"><b>Q. Почему выпускник не может раздать коды кому попало?</b></p>
<p><b>A.</b> Физически — может. Но мы просим этого не делать и верим на слово. Укрепить нашу веру позволяют различные проверки, легко вскрывающие обман задним числом. Для каждого кода хранится вся цепочка того, кто, когда и кому их выдавал. Если мы видим, что коды выданы неправильно, мы можем инвалидировать задним числом как подозрительные коды, так и результаты их использования.   </p>

<p class="question"><b>Q. Меня это пугает, демократия в опасности! Где гарантии, что коды получат все, кто хочет голосовать? На каком основании кто-то может отозвать мой голос? Мне религия не позволяет получать личные коды, я не могу голосовать?</b></p>
<p><b>A.</b> Использование кодов при голосовании — это один из возможных способов для организаторов выборов убедиться, что проголосовал конкретный выпускник. Поле кода не будет обязательным. Если был введен валидный код, организаторы могут не тратить много времени на проверку голоса. Отзыв кода, с которым вы проголосовали, просто сделает голос «анонимным», т.е. его нужно будет вручную перепроверять. Это должно быть обязательно сделано для всех анонимных голосов до подведения итогов, ваш голос, в любом случае, не пропадет. Если код был отозван, вы можете получить новый на ваше имя и проголосовать им второй раз, будет учтен ваш один последний голос.</p>

<p class="question"><b>Q. Что делать с кодами сейчас?</b></p>
<p><b>A.</b> Раздача кодов — процесс, требующий времени, поэтому его нужно проводить до голосования. Прямо сейчас (14.02.2017) голосовать кодами негде. Но вы уже можете воспользоваться ими для пополнения информации в «директории выпускников» (<a href="http://dir.alumni57.ru">dir.alumni57.ru</a>), а также, что самое главное, помочь своим знакомым их получить (<a href="http://auth.alumni57.ru">auth.alumni57.ru</a>). Если вы считаете себя активным выпускником, разошлите не менее 10 кодов товарищам, для остальных — не меньше, чем прислали вам. </p>

{% endblock %}
